#welcome, #menu {
  background-color: #464343;
}
#about {
  background-color: #C1C3C0;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.single-barfi {
  width: 300px;
}

.form-rows {
  padding: 40px;
  padding-left: 200px;
  padding-right: 200px;
}